*.py[co]
*.pdf
*.json
*.xml

/testplan/examples/**/*report.txt

.idea/

.cache/


CMakeFiles/
CMakeCache.txt
Makefile
*.cmake

/test/functional/**/runTests
/testplan/examples/**/runTests

.pytest_cache/v/cache/lastfailed

.venv2
.venv3
build
*.iml
Testplan.egg-info
dist
.gitignore 
